.hero_content {
  text-transform: capitalize;
  color: #272341;
  margin-top: 0;
}

.hero {
  min-height: 100vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  padding: 8px 16px;
  border: 2px solid #6dd5ed;
  margin-right: 25px;
  cursor: pointer;
  background-color: white;
  color: #6dd5ed;
  font-size: 24px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.btn_secondary {
  padding: 8px 16px;
  border: 2px solid #fff;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
  width: auto;
}

.section {
  min-height: 100vh;

  padding: 50px 0 10% 0;
}

.section_content {
  width: 80%;
  margin: auto;
}
